---
import ThemeToggle from './ThemeToggle.astro';
import { SITE } from "~/site.config";
---
<header class="py-8">
  <div class="container flex items-center justify-between">
    <a href="/" class="flex items-center gap-3">
      <img src="/favicon.svg" alt="Logo" class="h-8 w-8" />
      <span class="text-xl font-semibold tracking-tight">{SITE.title}</span>
    </a>
    <nav class="flex items-center gap-6 text-sm">
      <a href="/" class="hover:underline">Home</a>
      <a href="/blog" class="hover:underline">Blog</a>
      <a href="/tags" class="hover:underline">Tags</a>
      <ThemeToggle />
    </nav>
  </div>
</header>
